/* Consolidation of layout fixes */

/* Restore normal cards on library/home pages */
.card.portraitCard {
    float: none !important;
}

/* Specific fix for Movie Info page on Desktop */
@media all and (min-width: 1000px) {
    #itemDetailPage .detailImageContainer.hide-mobile .card.portraitCard {
        width: 250px !important;
        height: 375px !important;
        float: none !important;
        margin: 0 !important;
    }

    #itemDetailPage .detailImageContainer.hide-mobile {
        float: left !important;
        width: 250px !important;
        margin-right: 40px !important;
        margin-bottom: 20px !important;
        height: auto !important;
        display: block !important;
    }

    #itemDetailPage .detailPagePrimaryContainer {
        display: block !important;
        overflow: auto !important;
    }

    #itemDetailPage .cardBox, 
    #itemDetailPage .cardScalable {
        width: 100% !important;
        height: 100% !important;
    }
}
